<!DOCTYPE html>
<html lang="en">
<head>
	<title>About page</title>
	<link rel="stylesheet" type="text/css" href="./css/styles.css">
	<link rel="icon" href="/img/favicon.ico">
</head>
<body>
	<div class="main-content">
		{{>header}}
        <p>This site was created by Lennart Cockx. It uses data from mapbox.com and darksky.net</p>
		<img class="portrait" src="/img/img.png">
	</div>
	{{>footer}}
</body>
</html>