<!DOCTYPE html>
<html lang="en">
<head>
	<title>Error page</title>
	<link rel="stylesheet" type="text/css" href="./css/styles.css">
	<link rel="icon" href="/img/favicon.ico">
</head>
<body>
	<div class="main-content">
		{{>header}}
		<p>{{message}}</p>
	</div>
	{{>footer}}
</body>
</html>