<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
	<link rel="stylesheet" type="text/css" href="./css/styles.css">
	<script type="text/javascript" src="/js/app.js"></script>
	<link rel="icon" href="/img/favicon.ico">
</head>
<body>
	<div class="main-content">
		{{>header}}
		<p>something something</p>
	</div>

	{{>footer}}
</body>
</html>