<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home page</title>
	<link rel="stylesheet" type="text/css" href="./css/styles.css">

	<link rel="icon" href="/img/favicon.ico">
</head>
<body>
	<div class="main-content">
		{{>header}}
		<p>Weather information:</p>

        <form>
            <label>
                <input placeholder="Location"/>
            </label>
            <button></button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
	</div>

	{{>footer}}
    <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>